# Subject=Database Management Systems(2CS402)

SQL to Relational Algebra Conversion

Group:21BCE522,21BCE521

In [ ]:
sql=input("Enter SQL Query:")
ope={'select':'σ','project':'π','and':'∧','or':'∨','cross':'⨯',
     'union':'∪','intersect':'∩','not':'¬','minus':'-','njoin':'⋈',
     'ljoin':'⟕','rjoin':'⟖','fjoin':'⟗'}
def getconds(query):
    cod=query.split("where")[1]
    cod=cod.replace(" and "," "+ope['and']+" ")
    cod=cod.replace(" or "," "+ope['or']+" ")
    cod=cod.replace(" not "," "+ope['not']+" ")
    return cod
def getmain(sqlq):
    li=sqlq.split(" ")
    if '' in li:li.remove('')
    if 'intersect' in sqlq:
        return intersect(sqlq)
    elif 'union' in sqlq:
        return union(sqlq)
    elif 'minus' in sqlq:
        return minus(sqlq)
    elif 'natural join' in sqlq:
        return njoin(sqlq)
    elif 'inner join' in sqlq:
        sqlq=sqlq.replace(" on "," where ") if " on " in sqlq else sqlq
        return ijoin(sqlq)
    elif 'left join' in sqlq:
        sqlq=sqlq.replace(" on "," where ") if " on " in sqlq else sqlq
        return ljoin(sqlq)
    elif 'right join' in sqlq:
        sqlq=sqlq.replace(" on "," where ") if " on " in sqlq else sqlq
        return rjoin(sqlq)
        sqlq=sqlq.replace(" where "," and ") if " where " in sqlq else sqlq
        sqlq=sqlq.replace(" on "," where ") if " on " in sqlq else sqlq
        return fjoin(sqlq)
    else:
        if "*" in sqlq:
            li[3]=li[3].replace(",",ope['cross'])
            if 'where' not in sqlq:
                return ope["select"]+"("+li[3]+")"
            else:
                cod=getconds(sqlq)
                return ope["select"]+cod+"("+li[3]+")"
        else:
            cols=sqlq.split("from")[0]
            cols=cols.replace(","," ")
            cols=cols.strip()
            cols=cols.split(" ")
            cols.remove("select")
            li[3]=li[3].replace(",",ope['cross'])
            if "where" not in sqlq:
                return ope["project"]+" "+",".join(cols)+"("+li[3]+")"
            else:
                cod=getconds(sqlq)
                return ope["project"]+" "+",".join(cols)+" ("+ope["select"]+cod+"("+li[3]+")"+")"
        
def union(sqlq):
    return getmain(sqlq.split("union")[0])+" "+ope["union"]+" "+getmain(sqlq.split("union")[1])

def intersect(sqlq):
    return getmain(sqlq.split("intersect")[0])+" "+ope["intersect"]+" "+getmain(sqlq.split("intersect")[1])

def minus(sqlq):
    return getmain(sqlq.split("minus")[0])+" "+ope["minus"]+" "+getmain(sqlq.split("minus")[1])

def njoin(sqlq):
    return getmain(sqlq.split("natural join")[0]).rstrip(")")+" "+ope['njoin']+sqlq.split("natural join")[1]+")"

def ijoin(sqlq):
    t2=sqlq.split("inner join")[1].split(" ")[1].rstrip()
    back=" inner join "+t2
    se=sql.replace(back,"")
    return getmain(se).rstrip(")").rstrip(")")+" "+ope['njoin']+" "+t2+")"

def ljoin(sqlq):
    t2=sqlq.split("left join")[1].split(" ")[1].rstrip()
    back=" left join "+t2
    se=sqlq.replace(back,"")
    return getmain(se).rstrip(")").rstrip(")")+" "+ope['ljoin']+" "+t2+")"

def rjoin(sqlq):
    t2=sqlq.split("right join")[1].split(" ")[1].rstrip()
    back=" right join "+t2
    se=sqlq.replace(back,"")
    return getmain(se).rstrip(")").rstrip(")")+" "+ope['rjoin']+" "+t2+")"

def fjoin(sqlq):
    t2=sqlq.split("full outer join")[1].split(" ")[1].rstrip()
    back=" full outer join "+t2
    se=sqlq.replace(back,"")
    print(se)
    return getmain(se).rstrip(")").rstrip(")")+" "+ope['fjoin']+" "+t2+")"

sql=sql.rstrip(";")
sql=sql.lower()
print(getmain(sql))